{
font-size: 16pt;
color: Gray;
}
.position1{
Font-weight:bold;
Font-size:70px;
Font-style:oblique;
Font-variant:small-caps;
line-height:90px;
Font-family:"comic sans ms";
}
.Blue{
color: 
}
.Green{
color: 
}
.Yellow{color: 
}
</style>
</head> 